<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.epstudios.epcoding" >

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.epstudios.epcoding.ProcedureListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.epstudios.epcoding.ProcedureDetailActivity"
            android:label="@string/title_procedure_detail"
            android:parentActivityName=".ProcedureListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProcedureListActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/about_label"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name=".Help"
            android:configChanges="orientation|screenSize"
            android:label="@string/help_title" >
        </activity>
        <activity
            android:name=".ScreenSlideActivity"
            android:label="@string/wizard_title"
            android:parentActivityName=".ProcedureListActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProcedureListActivity" />
        </activity>
        <activity
            android:name=".ModifierActivity"
            android:label="@string/modifiers_label">
        </activity>
        <activity android:name=".SedationActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/sedation_label">
        </activity>
        <activity android:name=".SedationTimeCalculator"
            android:label="@string/sedation_time_calculator_label">
        </activity>
        <activity android:name=".ICD10CodeList"
                  android:label="@string/icd10_code_list_label">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/icd10_searchable">
            </meta-data>
        </activity>
    </application>

</manifest>